<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><ui:insert name="Sistema Hotel PSS"/></title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="css/images/LogoMais.png"/>
</h:head>
<h:body>
    <h:form>
        <p:outputLabel value="HOlaaaaaa"/>
        <p:dataTable value="#{loginBean.lstPruebas}" var="pru">
            <p:column headerText="d1">
                <p:outputLabel value="#{pru.d1}"/>
            </p:column>
            <p:column headerText="d2">
                <p:outputLabel value="#{pru.d2}"/>
            </p:column>
            <p:column headerText="d3">
                <p:outputLabel value="#{pru.d3}"/>
            </p:column>
            <p:column headerText="cx">
                <p:selectBooleanCheckbox value="#{pru.d4}" />
            </p:column>
            <p:column headerText="cx">
                <p:selectBooleanButton value="#{pru.d4}" offLabel="NO" onLabel="SI"/>
            </p:column>
            <p:column>
                <p:button value="Subir" ></p:button>
            </p:column>

        </p:dataTable>
    </h:form>
</h:body>
</html>
